$primary-color: #3B3D3D;
$secondary-color: #4D6D3A;
$yellow: #DEFA39;
$primary: black;

@import '~bootstrap/scss/bootstrap';

.maincontent {
  background-color: white;
}

.homewrapper {
  background-color: $primary-color;
}

.header {
  background-color: $primary-color;
  border: none;
}

.hamburgerbtn,
.sidenavbtn {
  color: $yellow;
  background-color: $primary-color;
  border: none;

  &:hover {
    color: $yellow;
    background-color: $secondary-color;
  }
}

.btn-close {
  color: $yellow;
}

.sidebar {
  background-color: $primary-color;
}

.gender-filter {
  color: $secondary-color;
  background-color: $yellow;
  width: 100%;
  border-radius: 0;
  border: 1px solid $secondary-color;

  &:hover {
    color: $yellow;
    background-color: $secondary-color;
    outline: none;
    border: $yellow;
  }
}

.gendercontainer {
  border: 1px solid black;
}

h5 {
  color: $yellow;
}
