$primary-color:#3B3D3D;
$seconday-color: #4D6D3A;
$yellow: #DEFA39;
$primary: black;

@import '~bootstrap/scss/bootstrap';

// Homepage
.maincontent {
    background-color: white;
}

.homewrapper {
    background-color: $primary-color;
}

.header {
    background-color: $primary-color;
    border: none;
}


// Buttons
.hamburgerbtn {
    color: $seconday-color;
    background-color: transparent;
    border: none;
}

.hamburgerbtn:hover, .hamburgerbtn:active .hamburgerbtn:focus {
    color: $yellow;
    background-color: transparent;
}

.sidenavbtn {
    color: $yellow;
    background-color: $primary-color;
    border: none;
}

.sidenavbtn:hover {
    color: $yellow;
    background-color: $seconday-color;
}

.btn-close {
    color: $yellow;
}

// Sidebar
.sidebar {
    background-color: $primary-color;

}

.gender-filter {
    color: $seconday-color;
    background-color: $yellow;
    width: 100%;
    border-radius: 0;
    border: 1px solid $seconday-color;
}

.gender-filter:hover {
    color: $yellow;
    background-color: $seconday-color;
    outline: none;
    border: $yellow;
}

.gendercontainer {
    border: 1px solid black;

}

