$primary-color: #f8f9fa;
$secondary-color: #dee2e6;
$yellow: #DEFA39;
$primary: #bcc3c5e8;
$dropdowntransform: translate3d(0px, -11.5px, 0px) !important;
$dropdownposition: relative !important;


@import '~bootstrap/scss/bootstrap';

.maincontent {
  background-color: white;
  width: 70%;
  margin-top: 66px;
  height: auto;
  padding: 10px;
}

.sidebarwrapper {
  // background-color: white;
  width: 30%;
  margin-top: 66px;
  height: auto;
  padding: 10px
}

.homewrapper {
  background-color: $primary-color;
  position: relative;
  /* border: 3px solid blue; */
  height: auto;
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color:$primary-color;
    height: 90%;
    width: 25%;
    overflow-y: auto;
    max-height: 90%;
    position: fixed;
    z-index: 1;
}

.header {
  background-color: $primary-color;
  border: none;
  height: 10vh;
}

.hamburgerbtn,
.sidenavbtn {
  color: black;
  background-color: $primary-color;
  border: none;

  &:hover {
    color: black;
    background-color: $secondary-color;
  }
}

.btn-close {
  color: $yellow;
}


.gender-filter {
  color: $secondary-color;
  background-color: black;
  width: 100%;
  border-radius: 10px;
  border: none;

  &:hover {
    color: black;
    background-color: $secondary-color;
    outline: none;
    border: black;
  }
}

.gendercontainer {
  border: none
}

h5 {
  color: black;
}

p {
  margin-bottom: 0;
}

.logo {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.card {
  border: none;
}

// Dropdown

// .dropdown {
//   justify-content: center;
//     display: flex;
// }

.filters {
    background-color: transparent;
    margin-bottom: 15px;    
}

.Size__menu {
  position: relative;
  background-color: black;
}

.dropdown-menu {
  width: 85%;
    padding-left: 5px;
    z-index: 0;
    background-color: transparent;
  transform: $dropdowntransform;
    position: $dropdownposition;
    border: none;
}

.dropdown-item:active, .dropdown-item:focus {
background-color: $primary;
}


.sizebtn {
  width: 53px;
  background-color: transparent;
  height: 36px;
    text-align: center;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    margin-right: 6px;
    margin-bottom: 6px;
}


// .dropdown {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
